[user]
	name = flemdizzle
	email = fleminsh@gmail.com
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[color]
	ui = always
[color "branch"]
	current = green reverse
	local = green
	remote = yellow
[color "status"]
	added = green
	changed = yellow
	untracked = red
[core]
	editor = subl -n -w
	excludesfile = /Users/stevenfleming/.gitignore_global
	autocrlf = input
	safecrlf = true
[push]
	default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
